body {
    margin-top : 70px;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size : 20px;
    color : #141414;
}

p {
    font-weight : 600;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
    color : #98DDC6;
}

*::selection {
    color : #C1444C;
    background : #98DDC6;
}

.color1 {
    background-color : #2C3E50;
}

.color2 {
    background-color: #336E7B;
}

.u-sm-ht {
    height : 70px;
}

.u-md-ht {
    height : 150px
}

.u-txt-center {
    text-align: center;
}

.u-rel {
    position : relative;
}

.u-total-cntr {
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    -webkit-transform : translate(-50%, -50%);
    -moz-transform : translate(-50%, -50%);
    -ms-transform : translate(-50%, -50%);
    -o-transform : translate(-50%, -50%);
}

.u-top-cntr {
    position : absolute;
    top : 50%;
    transform : translate(0, -50%);
    -webkit-transform : translate(0%, -50%);
    -moz-transform : translate(0%, -50%);
    -ms-transform : translate(0%, -50%);
    -o-transform : translate(0%, -50%);
}

.container {
    width : 100%;
}

nav.nav {
    position : fixed;
    z-index : -1;
    top : 0;
    left : 0;
    right : 0;
    width : 110%;
    height : 70px;
    padding : 0 2.5%;
    margin-bottom : 25px;
    color : #fafafa;
    box-shadow : inset 1px 2px 4px rgba(0,0,0,0.3);
}

nav .me h3,
nav .me h5 {
    display: inline-block;
    margin : 0;
    line-height: 75px;
}

nav a {
    margin-right : 5%;
    line-height : 70px;
    font-size : 14px;
    color : #fff;
}

.summary {
    margin : 0 auto 10px;
    padding : 0;
}

.summary-label {
    margin-right : 15px;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 800;
    font-size: 18px;
}

.summary li {
    display: table;
    height : 3em;
    width : 100%;
    margin-bottom: 5px;
    padding : 0 5px 0 10px;
    list-style: none;
    font-size: 16px;
    font-family: sans-serif;
}

.summary li > span {
    display : table-cell;
    vertical-align: middle;
}

.summary li:nth-child(2n+1) {
    border-left: 2px solid #336E7B;
    background-color : rgba(51, 110, 123, 0.2);
}

.summary li:nth-child(2n) {
    border-left: 2px solid #2C3E50;
    background-color : rgba(44, 62, 80, 0.2);
}


section {
    padding : 25px 0;
    background-color: #fff;
}


section:nth-child(2n + 1) {
    background-color : #fafafa;
}

.section-header {
    margin-bottom : 25px;
}

section.interstitial {
    background-color : #2C3E50;
    box-shadow : inset 1px 2px 4px rgba(0,0,0,0.3);
}

section.interstitial.para {
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    z-index : -1;
}

.button {
    display : inline-block;
    min-width : 100px;
    padding : 10px;
    border : 1px solid #fafafa;
    border-radius : 5px;
    margin : 0;
    background : Transparent;
    color : #fafafa;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    cursor : pointer;
}

.button:hover {
    background-color : rgba(255,255,255,0.2);
    color : #fafafa;
    text-decoration: none;

}

.button.dark {
    border-color : #2C3E50;
    color : #2C3E50;
}

.button.dark:hover {
    text-decoration: none;
    background-color : #2C3E50;
    color : #fafafa;
}

.button.small {
    padding : 5px 10px;
}

.card {
    padding : 10px;
    margin-bottom : 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color : #fff;
}

.card-content > div {
    margin-bottom : 0.5em;
}

.card .card-content--desc p {
    height : 3em;
    font-size : 16px;
}


.card .card-content--img {
    width : 80%;
    height : 10em;
    margin-left : auto;
    margin-right : auto;
    text-align: center;
}

.card .card-content--img img {
    width : auto;
    max-height : 10em;
    max-width : 100%;

}
.card-content .card-content--summary {
    height : 2em;
}

.card-content .card-content--summary li {
    font-size : 14px;
}

.card-content .card-content--btns {
    height : 2em;
}

.card-content .card-content--btns .button {
    height: 2em;
    padding: 0;
    font-size : 16px;
    margin-top : 0.75em;
    line-height: 2em;
}

.card-content .card-content--btns .button.dark:nth-child(2),
#q-and-a .button:nth-child(2) {
    margin-left : 15px;
}

.card .summary {
    padding-left : 0;
}


.distance-wdgt {
    width : 100%;
    height : 18.1em;
    position : relative;
    cursor : pointer;
}

.distance-wdgt .wdgt-line {
    display : inline-block;
    position : absolute;
    top : 50%;
    left : 50%;
    width : 0px;
    height : 1px;
    background-color : rgb(44, 62, 80);
    transform-origin : 0;
    -webkit-transform-origin : 0;
    -moz-transform-origin : 0;
    -o-transform-origin : 0;
    -ms-transform-origin : 0;
    transition : width 0.25s;
    -webkit-transition : width 0.25s;
    -moz-transition : width 0.25s;
    -o-transition : width 0.25s;
}

.distance-wdgt .links {
    position: absolute;
    bottom : 0;
    right : 0;
    text-decoration: underline;
    font-size : 12px;
    font-family: Arial, sans-serif;
}

.distance-wdgt .links a:first-child {
    margin-right : 10px;
}

.distance-wdgt .wdgt-line:hover {
    height : 3px;
}

.distance-wdgt .wdgt-axis {
    display : inline-block;
    position : absolute;
    top : 50%;
    left : 50%;
    border : 1px solid #336E7B;
    border-radius : 100%;
    background-color : transparent;
    transform : translate(-50%, -50%);
    -webkit-transform : translate(-50%, -50%);
    -moz-transform : translate(-50%, -50%);
    -ms-transform : translate(-50%, -50%);
    -o-transform : translate(-50%, -50%);
}

.distance-wdgt .key {
    position : absolute;
    top : 0;
    right : 0;
    height : 2em;
    width : 50%;
    font-size: 14px;
    font-family: arial, sans-serif;
    text-align: right;
}

.distance-wdgt .key .date {
    float : left;
}

.distance-wdgt .key .date:after {
    content : " :";
}

#CTA p {
    color : #fafafa;
    margin-bottom : 20px;
    font-weight: 100;
}

#q-and-a {
    position: fixed;
    bottom: -1000px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #fff;
    padding: 20px;
    transition : bottom 0.5s;
    -webkit-transition : bottom 0.5s;
    -moz-transition : bottom 0.5s;
    -o-transition : bottom 0.5s;
    -ms-transition : bottom 0.5s;
    box-shadow : 1px 2px 10px 3px rgba(0,0,0,0.3);
}



#q-and-a .button {
    min-width: 125px;
}

#q-and-a .button.inactive {
    opacity : 0.7;
    cursor : initial;
}

#q-and-a .button.inactive:hover {
    background: Transparent;
    color: #2C3E50;
}

#q-and-a .title {
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
}

#q-and-a form > div {
    margin-bottom : 20px;
}

#q-and-a label {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 16px;
}

#q-and-a input {
    display: inline-block;
}

#q-and-a label input {
}

#q-and-a input[type="radio"] {
    display: inline;
    margin-right : 5px;
}
#q-and-a textarea {
    width : 100%;

}

#q-and-a textarea,
#q-and-a input[type="text"] {
    border : 1px solid #ccc;
    border-radius : 5px;
    font-size : 0.8em;
}

#q-and-a .close-btn {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10;
}

.choices label {
    padding: 5px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2), 0 0 6px rgba(0,0,0,0.1);
    background: rgba(51, 110, 123, 0.2);
    cursor : pointer;
    min-height : 40px;
    line-height: 40px;
}

.submission {
    text-align : right;
}

label.optional:after {
    content: "  * optional";
    font-size: 10;
}



@media (max-width : 320px) {
    nav .me h3 {
        font-size : 90%;
    }

    .no-iphone {
        display : none;
    }
}
